@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
   
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.header{
    background-color: hsl(219, 30%, 18%);
    background-image: url('/images/bg-curvy-desktop.svg');
    background-position-y: 160%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;

}
span{
    font-family: 'Raleway', sans-serif;
}

.bx-menu{
    color: #fff;
    font-size: 30px;
    
}

i.bx-menu{
   
    visibility: hidden;
}

@media only screen and (max-width: 400px){
    i.bx-menu{
        visibility: visible;
    }

    .nav__text{
        visibility: hidden;
    }

    .Fylo{
        width: 15px;
    }
}


nav{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 5em;
    padding-right:5em;
    padding-top: 2em;
}

ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5em;
    width: 100%;
    
}

.nav__text{
    display: flex;
    flex-direction: row;

}
.nav__link{
    font-size: 14px;
    font-weight: 400;
    color:  hsl(0, 0%, 100%);
    cursor: pointer;
}

.nav__link:hover{
    text-decoration: underline;
}


.intro-illus{
    max-width: 90%;
}

.illu2{
   
}
.intro__main{
    width: 35%;
    word-spacing: 1.5px;
    letter-spacing: 1px;
}

.Fylo{

}

.landing__intro{
   
    
}
.intro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    gap: 1em;
    padding-top: 5em;

}

.intro__main{
    text-align: center;
    line-height: 1.6;
}

.intro__txt{
    text-align: center;
    width: 35%;
    line-height: 1.8;
    l
    word-spacing: 2px;
    
}

.intro__button{
    background-color:   hsl(198, 60%, 50%);;   
    border-radius: 80em;
    border: 1px solid hsl(198, 60%, 50%);
    padding-left: 8em;
    padding-right: 8em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: hsl(0, 0%, 100%);
    cursor: pointer;   
    font-weight: 400;
}

.intro__button:hover{
    background-color: hsl(176, 68%, 64%);
}

.details-section{
    background-color:  hsl(218, 28%, 13%);
}

.details-container{
    color: hsl(0, 0%, 100%);
    background-color: hsl(218, 28%, 13%);
    padding-left: 15em;
    padding-right: 15em;
    padding-top: 5em;
}

.row{
    width: fit-content;
    display: flex;
    flex-direction: row;
    column-gap: 3em;
    row-gap: 6em;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
     
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    
}

.bx-laptop,  .bx-check-shield, .bxs-folder-open{
    color: hsl(176, 68%, 64%);
    font-size: 5em;
    
}



.details__title{
    text-align: center;
}

.deatils__txt{
    text-align: center;
    word-spacing: 1px;
    
}

.how-it-works{
    background-color: hsl(218, 28%, 13%);
    padding-top: 10em;
    padding-left: em;
}

.how__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-it-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em;
    padding-left: 6em;
    padding-right: 4em;
}

@media only screen and (max-width: 1200px){
    .how-it-row{
        flex-direction: column;
        justify-content: center;
    }

    .how-col{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.how__title{
    color: hsl(0, 0%, 100%);

}

.how__txt{
    color: hsl(0, 0%, 100%);
    line-height: 1.8;
    word-spacing: 1px;
    width: 70%;
}

.bxs-right-arrow-circle{
    
    font-size: 1em;
}

.how__link{
    color: hsl(176, 68%, 64%);
    border-bottom: 1px solid hsl(176, 68%, 64%);
    width: fit-content;
    cursor: pointer;
}

.testimonial{
    background-color: hsl(218, 28%, 13%);
}

.testimonial-container{
    padding-left: 9em;
    padding-right: 9em;
    background-color: hsl(218, 28%, 13%);
    padding-top: 10em;
}

.testimonial__row{
    display: flex;
    gap: 4em;
    flex-wrap: no-wrap;
    
    
}

.testimonial__col{
    display: flex;
    flex-direction: column;
    background-color: hsl(219, 30%, 18%);
    color: hsl(0, 0%, 100%);
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.commenter__wrap{
    color: hsl(0, 0%, 100%);
    display: flex;
    padding-top: 2em;
    width: 100%;
    
}

.name-wrap{
    display: flex;
    flex-direction: column;
    gap:0;
    margin-left: 5%;

    
}

.commenter__name{
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 700;
    word-spacing: 2px;
    letter-spacing: 2px;
    
}

.commenter__work{
    font-size: 12px;
    word-spacing: 2px;
    width: fit-content;
}

.testimonial__img{
    border-radius: 100%;
    height: fit-content;
    
}


.comments{
    text-align: left;
    line-height: 1.6;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.sign-up__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8em;
    flex-wrap: wrap;
    color: hsl(0, 0%, 100%);
    z-index: 9;
    top: 10em;
    position: relative;
    
}

.sign-up-content{
    box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    column-gap: 5em;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color:  hsl(217, 28%, 15%);
    border-radius: 1em;
    padding-right: 3em;
    padding-left: 3em;
}

.sign-up__buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 2em;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.sign-up__text{
    
    text-align: center;
    word-spacing: 2px;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 2em;
    width: 70%;
}



input{
    border-radius: 50em;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid hsl(0, 0%, 100%);
}


.get-started{
    background-color: hsl(198, 60%, 50%);
    color: hsl(0, 0%, 100%);
    border-radius: 50em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid hsl(198, 60%, 50%);
    cursor: pointer;
    font-size: 14px;
}

.get-started:hover{
    background-color: hsl(176, 68%, 64%);
    font-weight: 400;
}


.error{
    color: red;
    width: fit-content;
    text-align: center;
    font-size: 12px;
    
}


.footer-container{
    padding-top: 15em;
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    padding-right: 3em;
}


footer{
    background-color: hsl(216, 53%, 9%);
    color: hsl(0, 0%, 100%);
    
}

.footer-row{
    display: flex;
    flex-direction: row;
}

.footer-col{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.col-1-wrap{
    display: flex;
    flex-direction: row;
    gap: 1em;

}


.footer__text{
    line-height: 1.8;
    font-size: 14px;
}

.footer__social{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    padding-top: 1em;
    align-items: flex-start;
    
}
.footer-logo{
    margin-bottom: 3em;
}

.bxl-facebook,  .bxl-instagram,  .bxl-twitter{
    padding: 1%;
    border: 1px solid #fff;
    border-radius: 50em;
    font-size: 24px;
    height: fit-content;
    cursor: pointer;
}

.bx-phone-call{
    font-size: 24px;
}

.bx-envelope{
    font-size: 24px;
    
}
.bxs-edit-location{
    font-size: 24px;
    height: fit-content;
}
.footer__link{
    font-size: 14px;
    cursor: pointer;
    
}

.contact-col{
    padding-left: ;
    gap: 2em;
}

.phone-no{
    font-size: 14px;
    padding-left: 1em;   
}
.fylo-email{
    font-size: 14px;
    padding-left: 1em;   
}


@media only screen and (max-width: 1000px) {

    .row{
        flex-direction: column;
        width: fit-content;
    }

    .col{
       width: fit-content;
        
    }

    .details-container{
        padding-left: 3em;
        padding-right: 3em;
    }

    .how-it-row{
        flex-direction: column;
    }

    .deatils__txt{
        text-align: center;
        width: 60%;
    }  

    .testimonial__row{
        flex-direction: column;
    }

    .footer-row{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 800px) {


    .sign-up__container{
        width: fit-content;
    }

    .sign-up-content {
        
        padding: 0;
        width: 90%;
    }

    .sign-up__text{
        width: 95;
    }

    .footer-row{
        flex-direction: column;
    }
    input{
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 1em;
    }

    .intro__txt{
        width: 70%;
    }

    .intro__main{
        width: 70%;
    }

}

@media only screen and (max-width: 580px) {

    .Fylo{
        width: 20%;
        height: auto;
    }
    ul{
        gap: 3em;
        
    }
    .nav-text{
        gap: 1em;
        width: 100%;
    
    }
    
   
    .illu2{
        width: 80%;
        display: flex;
        
    }

    
    .testimonial-container{
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 5em;
        padding-top: 7em;
    }

    .sign-up__buttons{
        row-gap: 1em;
        flex-direction: column;
        
    }

    input{
        padding-left: 8em;
        padding-right: 8em;
    }

    .get-started{
        padding-left: 6em;
        padding-right: 6em;
    }

    .intro-illus{
        width: 80%;
    } 

    .footer__social{
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .phone-no{
        padding-left: 0;

    }

    .fylo-email{
        padding-left: 0;

    }

    
.contact-col{
    padding-bottom: 3em;
    padding-top: 3em;
}

.sign-up__container{
    padding-top: 0;
}
}
@media only screen and (max-width: 450px){
    nav{
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 2em;
    }

    
.nav__text{ 
    gap: 1em;
}

ul{
    align-items: flex-start;
    justify-content: center;
}

input{
    padding-left: 2em;
    padding-right: 2em;
}

.get-started{
    padding-left: 4em;
    padding-right: 4em;
}


.intro__button{
    padding-left: 3em;
    padding-right: 3em;
}

}